@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
  Button
*/
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  background-color: #6A61D6;
  color: white;
  font-weight: 500;
  width: 141px;
  height: 40px;
  border-radius: 3px;
  font-size: 18px;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.17);
  margin: 30px 0 0 0;
}
button:hover { background-color: #574DD1; }
button:active { background-color: #4439CC; }

/*
  List
*/
ul {
  margin: 20px 0 0 0;
  padding: 0;
}
ul li {
  border-top: 1px solid #C4C4C4;
  font-size: 18px;
  color: #393939;
  font-weight: 300;
  list-style-type: none;
}
ul li a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  background: url('./img/chevron_right.png') no-repeat 100% 50%;
  font-weight: 300;
  font-size: 18px;
}
ul li a:link { color: #393939 }
ul li a:visited { color: #393939 }
ul li a:hover { color: #393939 }
ul li a:active { color: #393939 }
ul li.listItem { padding: 10px 0; } /* no <a>, add padding */
ul li.linkItem { padding: 0; } /* <a> handles padding */
ul li:last-child { border-bottom: 1px solid #C4C4C4; }
div.list { width: 300px; }

/*
  Counter
*/
div.counter div {
  font-size: 36px;
}
div.counter button {
  display: block;
}

/*
  hr
*/
hr {
  margin: 20px 0;
}

/*
  Font defaults
*/
h1 { font-size: 30px; font-weight: 300; margin: 20px 0 0 0;}
span.subheading { font-size: 20px; font-weight: 300; margin: 20px 0 0 0; display: block; color: #393939; }
p { font-size: 16px; font-weight: 500; line-height: 28px; margin: 20px 0 0 0; }
a { text-decoration: none; font-weight: 600; font-size: 16px; }
a:link { color: #6A61D6 }
a:visited { color: #6A61D6 }
a:hover { color: #6A61D6 }
a:active { color: #6A61D6 }

/*
  Header
*/
header a.back { /* Go back link */
  background: url('./img/chevron_left.png') no-repeat 0 50%;
  padding-left: 13px;
}
