const AWS = require('aws-sdk'),
  bucketID = process.env.BUCKET_ID;

const s3 = new AWS.S3({apiVersion: '2006-03-01'});

exports.handler = async (event, context) => {
    
  const res = await s3.listObjectsV2({
    Bucket: bucketID
  }).promise();

  const items = res.Contents.filter(item => item.Key.endsWith('.m3u8'));

  if ( items ) {
    return {
      statusCode: 200,
      body: JSON.stringify(items)
    }
  } else {
    return {
      statusCode: 404,
    }
  }
};
