{
  "Version": "2012-10-17",
  "Statement": {
    "Effect": "Allow",
    "Action": [
      "kms:Decrypt"
    ],
    "Resource": "arn:aws:kms:eu-west-2:01234567890:key/ABCDEFGHIJKLMNOP"
  }
}
